# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
upload/
images/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# virtual env
env

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid
# django migrations 
migrations/
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Editor
.vscode/